.btn {
  border: 1px solid var(--text-color-main);
  border-radius: 5px;
  padding: 5px 15px;
  background-color: var(--background-highlight-color);
  color: var(--text-color-main);
  transition: all 150ms ease-in-out;
}

.btn:hover {
  background-color: var(--text-color-main);
  color: #fff;
}

.btn span {
  font-size: 14px;
}
.error {
  text-align: center;
  color: red;
  font-style: italic;
  padding: 30px 0;
}

@media (max-width: 768px) {
  .btn {
    margin-top: 15px;
    padding: 3px 10px;
  }
  .btn span {
    font-size: 12px;
  }
}
