.currentWeatherBlock {
  margin: 5px;
  padding: 5px;
}

.city {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 20px;
  color: var(--text-color-main);
  text-align: center;
}

.description {
  font-size: 12px;
  text-align: center;
  opacity: 0.8;
  text-transform: capitalize;
}

.suggestedCitiesList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}
.suggestedCitiesList li {
  margin-right: 30px;
}
a.suggestedCity {
  color: #212529;
  opacity: 0.8;
  text-decoration: none;
  font-size: 12px;
  font-weight: 600;
  padding: 5px;
  transition: all 200ms ease-in-out;
}
a.suggestedCity:hover {
  color: var(--text-color-main);
}

.currentWeatherData {
  line-height: 1.5;
  margin-top: 10px;
  margin-bottom: 10px;
}
.currentWeatherData .content {
  padding: 5px 15px;
  background-color: var(--background-highlight-color);
  box-shadow: var(--box-shadow);
  border-radius: 10px;
}

.date {
  font-weight: 600;
  color: #212529;
  opacity: 0.8;
}

.temperature {
  text-align: center;
  font-size: 50px;
  font-weight: 600;
  color: white;
}

.units {
  font-size: 20px;
  font-weight: 600;
  margin-left: 5px;
  position: relative;
  top: -22px;
}

.WeatherIconAnimated {
  text-align: center;
}

.additionalInfo {
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: var(--font-secondary);
  opacity: 0.8;
}
.conditionIcon {
  opacity: 0.8;
  font-size: 16px;
}
.conditionValue {
  font-family: var(--font-main);
  opacity: 0.8;
  font-weight: 600;
  font-size: 14px;
}
.WeatherData .weather-conditions li {
  margin: 5px auto;
}

.WeatherData .wind-direction {
  display: inline-block;
  --rotate: 90deg;
  transform: rotate(var(--rotate));
}

hr {
  margin-top: 10px;
  margin-bottom: 10px;
  border-color: white;
  border-width: 3px;
}

@media (max-width: 768px) {
  .additionalInfo {
    display: flex;
    flex-direction: column;
  }

  .date {
    text-align: center;
  }
}
