.forecastDay {
  text-align: center;
  background-color: var(--background-highlight-color);
  box-shadow: var(--box-shadow);
  border-radius: 10px;
  opacity: 0.8;
}
.dayName {
  color: var(--text-color-main);
  text-transform: capitalize;
}
.icon {
  display: block;
  margin: 0 auto;
  width: 60px;
}
.tempMin {
  opacity: 0.7;
}

@media (max-width: 1200px) {
  .forecastDay {
    margin-bottom: 15px;
  }
}
