.searchForm {
  margin: 15px 0;
  display: flex;
  position: relative;
}

.btn {
  margin-left: 5px;
  padding: 5px 20px;
  border: 1px solid var(--text-color-main);
  border-radius: 5px;
  color: var(--text-color-main);
  background-color: var(--background-highlight-color);
  transition: all 150ms ease-in-out;
}

.btn:hover {
  background-color: var(--text-color-main);
  color: #fff;
}

.input {
  outline: none;
  border: 1px solid var(--text-color-main);
  border-radius: 5px;
  background-color: transparent;
  color: var(--text-color-main);
  padding: 5px 15px;
  caret-color: var(--text-color-main);
  width: 100%;
  font-size: 14px;
}

.input::placeholder {
  color: var(--text-color-main);
  opacity: 50%;
  font-size: 14px;
}

.suggestedCitiesList {
  position: absolute;
  bottom: -17px;
  left: 5px;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}
.suggestedCitiesList li {
  margin-right: 10px;
}
a.suggestedCity {
  color: var(--text-color-main);
  opacity: 50%;
  font-size: 10px;
  font-weight: 600;
  text-decoration: none;
  transition: all 200ms ease-in-out;
}

a.suggestedCity:hover {
  opacity: 1;
}

@media (max-width: 992px) {
  .searchForm {
    margin-top: 10px;
  }
}
