@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,400;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;600;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap");
:root {
  --background-color: #b7dfff;
  --background-highlight-color: rgba(32, 132, 213, 0.2);
  --font-main: "Roboto Slab", serif;
  --font-footer: "Roboto Mono", monospace;
  --text-color-main: rgb(15, 15, 139);
  --box-shadow: 3px 3px 10px rgba(15, 15, 139, 0.4);
}

.app {
  margin: 0 auto;
  margin-top: 100px;
  max-width: 50%;
  font-size: 14px;
  font-family: var(--font-main);
  background: var(--background-color);
  border-radius: 10px;
}

.source-link {
  padding-bottom: 15px;
  text-align: center;
  font-size: 10px;
  font-family: var(--font-footer);
  color: var(--text-color-main);
  opacity: 50%;
}

.source-link a {
  color: #000;
}

.source-link a:hover {
  color: var(--text-color-main);
}

@media (max-width: 576px) {
  .app {
    max-width: 100%;
  }
}

@media (max-width: 992px) {
  .app {
    max-width: 70%;
  }
}
