.card-body {
  font-size: 14px;
  padding: 10px 0;
}
.main-content {
  padding: 5px 15px;
  background-color: var(--background-highlight-color);
  box-shadow: var(--box-shadow);
  border-radius: 10px;
}
