.Forecast .forecast-day {
  text-align: center;
  background-color: var(--background-highlight-color);
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  opacity: 0.8;
}
.Forecast .forecast-icon {
  display: block;
  margin: 0 auto;
  width: 36px;
}
.Forecast .forecast-temp-min {
  opacity: 0.7;
}
