.QuickSearchCities ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.QuickSearchCities li {
  display: inline;
  padding-right: 20px;
}
.QuickSearchCities a.city {
  text-decoration: none;
  color: black;
  opacity: 0.8;
  font-size: 12px;
  transition: all 150ms ease-in-out;
}
.QuickSearchCities a.city:hover {
  font-weight: 900;
  color: var(--text-color-main);
}
