.QuickSearchCities ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.QuickSearchCities li {
  display: inline;
  margin-right: 30px;
}
.QuickSearchCities a.city {
  color: var(--text-color-main);
  text-decoration: none;
  font-size: 12px;
  font-weight: 600;
  transition: all 200ms ease-in-out;
}
.QuickSearchCities a.city:hover {
  background-color: var(--background-highlight-color);
  padding: 3px;
  border-radius: 5px;
}
