.SearchWeather {
  margin: 5px;
  padding: 5px;
}
.SearchWeather .SearchForm {
  margin-top: 5px;
  margin-bottom: 5px;
}
.SearchWeather .SearchForm form {
  display: flex;
}
.SearchWeather form div {
  display: flex;
}
.SearchWeather .current-city {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 20px;
  color: var(--text-color-main);
  text-align: center;
}
.SearchWeather .description {
  font-style: italic;
  text-align: center;
  opacity: 0.8;
  text-transform: capitalize;
}

.SearchWeather .search-button {
  margin-left: 10px;
  padding: 0 20px;
  color: white;
  background: var(--text-color-main);
  border: 1px solid var(--text-color-main);
  border-radius: 5px;
  transition: all 200ms ease-in-out;
  box-shadow: var(--box-shadow);
}
.SearchWeather .search-button:hover {
  background-color: white;
  color: var(--text-color-main);
}
.SearchWeather a.current-location {
  color: #212529;
  opacity: 0.8;
  text-decoration: none;
  font-weight: 600;
  font-size: 12px;
  background-color: var(--background-color);
  border-radius: 5px;
  padding: 3px;
  transition: all 200ms ease-in-out;
}
.SearchWeather a.current-location:hover {
  color: var(--text-color-main);
  background-color: var(--background-highlight-color);
  border-radius: 5px;
  padding: 3px;
}
@media (max-width: 992px) {
  .SearchWeather .SearchForm form {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .SearchWeather .SearchForm form input,
  button {
    font-size: 14px;
  }
}
