.SearchEngine form {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
}
.SearchEngine form .form-control {
  min-width: 40%;
  max-width: 60%;
}
.SearchEngine form div {
  display: flex;
}
.SearchEngine .search-button {
  width: 80px;
  margin-left: 10px;
  color: white;
  background: var(--text-color-main);
  border: 1px solid var(--text-color-main);
  border-radius: 5px;
  transition: all 200ms ease-in-out;
  box-shadow: var(--box-shadow);
}
.SearchEngine .search-button:hover {
  background-color: white;
  color: var(--text-color-main);
}
.SearchEngine .current-location {
  color: var(--text-color-main);
  text-decoration: none;
  font-weight: 600;
  font-size: 12px;
  background-color: var(--background-color);
  border-radius: 5px;
  padding: 3px;
  transition: all 200ms ease-in-out;
}
.SearchEngine .current-location:hover {
  color: var(--text-color-main);
  background-color: var(--background-highlight-color);
  border-radius: 5px;
  padding: 3px;
}
