.UnitsChoice {
  font-size: 12px;
}
.UnitsChoice a {
  text-decoration: none;
  color: black;
  font-family: var(--font-secondary);
  opacity: 0.4;
  transition: all 150ms ease-in-out;
}
.UnitsChoice a:hover {
  font-weight: 900;
  color: var(--text-color-main);
  opacity: 1;
}
.UnitsChoice a.active {
  color: black;
  opacity: 0.8;
  text-decoration: none;
  font-weight: 400;
}
.UnitsChoice a.active:hover {
  cursor: default;
}
