.WeatherData {
  line-height: 1.5;
  margin-top: 10px;
  margin-bottom: 10px;
}
.WeatherData .main-content {
  padding: 5px 15px;
  background-color: var(--background-highlight-color);
  box-shadow: var(--box-shadow);
  border-radius: 10px;
}
.WeatherData .FormattedDate {
  font-weight: 600;
  color: #212529;
  opacity: 0.8;
}

.WeatherData .temperature {
  text-align: center;
  font-size: 50px;
  font-weight: 600;
  color: white;
}
.WeatherData .temperature .units {
  font-size: 20px;
  font-weight: 600;
  margin-left: 5px;
  position: relative;
  top: -22px;
}

.WeatherData .main-content .WeatherIconAnimated {
  text-align: center;
}

.WeatherData .weather-conditions ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: var(--font-secondary);
  opacity: 0.8;
}
.WeatherData .weather-conditions-icon {
  opacity: 0.8;
  font-size: 16px;
}
.WeatherData .weather-conditions-value {
  font-family: var(--font-main);
  opacity: 0.8;
  font-weight: 600;
  font-size: 14px;
}
.WeatherData .weather-conditions li {
  margin: 5px auto;
}

.WeatherData .wind-direction {
  display: inline-block;
  --rotate: 90deg;
  transform: rotate(var(--rotate));
}
hr {
  margin-top: 10px;
  margin-bottom: 10px;
  border-color: white;
  border-width: 3px;
}
@media (max-width: 768px) {
  .WeatherData .WeatherConditions {
    display: flex;
    flex-direction: column;
  }

  .WeatherData .FormattedDate {
    text-align: center;
  }
}
