.WeatherData {
  line-height: 1.5;
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
}
.WeatherData .main-content {
  padding: 5px 15px;
  background-color: var(--background-highlight-color);
  box-shadow: var(--box-shadow);
  border-radius: 10px;
}
.WeatherData .FormattedDate {
  font-weight: 900;
  font-size: 16px;
  color: var(--text-color-main);
  position: absolute;
  right: 10px;
  top: 10px;
}
.WeatherData .FormattedDate span {
  text-transform: none;
  font-weight: 400;
  font-size: 12px;
  color: #212529;
  opacity: 0.8;
}
.WeatherData .Temperature {
  font-size: 46px;
  font-weight: 600;
  opacity: 0.8;
}
.WeatherData .Temperature .units {
  font-size: 18px;
  font-weight: 600;
  margin-left: 5px;
  position: relative;
  top: -20px;
}
.WeatherData .Temperature .units a {
  text-decoration: none;
}
.WeatherData .Temperature .units a:hover {
  text-decoration: underline;
}
.WeatherData .main-content .WeatherIcon {
  width: 100px;
  display: block;
  margin: 0 auto;
  padding: 0;
}

.WeatherData .weather-conditions {
  font-family: var(--font-secondary);
  opacity: 0.8;
  font-size: 12px;
}

.WeatherData .weather-conditions div {
  margin: 15px auto;
}

hr {
  margin-top: 10px;
  margin-bottom: 10px;
  border-color: white;
  border-width: 3px;
}
@media (max-width: 992px) {
  .WeatherData .main-content {
    text-align: center;
  }
  .WeatherData .FormattedDate {
    font-size: 16px;
  }
}
